<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <div>
        <select>
            <option>Image</option>
            <option>Audio</option>
            <option>Video</option>
        </select>
        <div id="text-1">
            menu converternya disini
        </div>
    </div>
</body>
</html>